@import url('reset.css');
@import url('vars.css');
@import url('base.css');
/* TODO: move imports to html links or minify */

body {

  /* Set viewer for background image */
  background-image: url('https://picsum.photos/3000/3000');
  background-size: cover;
  background-position: center center;
  background-blend-mode: var(--blend-mode);
}

/* TODO: move side panel code to it's own module? */

aside {
  transition: .5s ease all;
}

aside:hover {
  opacity: 1;
}

#mode-list {

  background-color: var(--color);

  transition: .5s ease all;

}

#mode-list > * {
  position: relative;
  background-color: var(--color);
  background-image: url('https://picsum.photos/3000/3000');
  background-size: cover;
  background-position: center center;
}

#mode-list *::before {
  content: attr(data-blend-mode);
}